.banner-container {
  width: 100vw;
  background-color: green;
  color: white;
  text-align: center;
}

.first-title {
  margin-block-start: 0;
  margin-block-end: 0;
}

.second-title { 
  margin-block-start: 0;
  margin-block-end: 0;
}