.banner-container {
  width: 100vw;
  background-color: green;
  color: white;
  text-align: center;
  height: 6em;
}

.first-title {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 0.2em;
}

.second-title { 
  margin-block-start: 1em;
  margin-block-end: 0;
}