.App {
  text-align: center;
}

.store-parent {
  display: inline-block;
  text-align: center;
}

.image-div {
  width: 15em;
  display: inline-block;
  margin: 1em;
}

.images {
  width: 12em;
  height: 19em;
}

button {
  text-align: center;
  background-color: green;
  /* margin-left: 1.5em; */
  width: 17.5em;
  color: white;
}

.book-text {
  text-align: left;
  margin-left: 1.5em;
}